.sidebar_nav {
}

.sidebar_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar_links {
    display: block;
    padding: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: black;
}

.sidebar_links:hover {
    background-color: white;
    color: black;
}

.sidebar_links:active {
    color: black;
    background-color: sandybrown;
}

.main2 {
    background: rgba(0, 0, 0, .5);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    height: auto;
    padding: 2.4rem;
    text-align: center;
    color: aliceblue;
}

.display_menuinfo {
    background-image: url('css imgs/banner6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 2rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.size_text {
    font-size: .9rem;
}

.menu_items {
    padding: 10px;
}

div > .menu_items > p {
    font-size: 1.5rem;
}

.menu_choices {
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 2rem;
}

.menu_row {
    padding: 10px;
}

.menu_content {
    background: rgba(0, 0, 0, .5);
    padding: 2rem;
    color: white;
    width: auto;
}

.attn_allergy {
    border: 3px solid white;
}